@use "../../assets/css/colors" as colors;

.home {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 200px;
}

.pageTitle {
  margin-bottom: 60px;
  color: colors.$primary;
  font-size: 2.3rem;
}

.add {
  padding: 7px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: fit-content;
  border: 2px solid colors.$primary;
  border-radius: 7px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: transparent;
  color: colors.$primary;
  align-self: flex-end;
  cursor: pointer;

  &:hover {
    background-color: colors.$primary;
    color: white;
  }
}

.tabelSlik {
  width: 100%;
  border-collapse: collapse;
  
  td {
    padding: 13px;

    &:nth-child(1) {
      width: 200px;
    }
    &:nth-child(3) {
      width: 200px;
    }
    &:nth-child(4) {
      width: 300px;
    }
    &:nth-child(5) {
      width: 200px;
    }
  }

  tbody {
    & td:nth-child(1) {
      text-align: center;
    }
  }
  
  thead td {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: colors.$primary;

    &:first-child {
      border-top-left-radius: 20px;
      text-align: center;
    }
    &:last-child {
      border-top-right-radius: 20px;
    }
  }
  tbody {
    td {
      border-bottom: 1px solid gray;
    }
    tr:nth-child(even) td {
      background-color: mix(colors.$primary, white, 15%);
    }
  }

  td a {
    text-decoration: none;
    background-color: colors.$primary;
    color: white;
    border-radius: 8px;
    padding: 6px 25px;
  }
}

.filter {
  display: flex;
  align-items: center;

  input {
    width: 500px;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid gray;
    font-size: 1.1rem;
  }
}

.filterBtn {
  cursor: pointer;
  margin: 0 20px;
  color: colors.$primary;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
}

.filterContainer {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-bottom: 3px solid colors.$primary;

  & * {
    font-size: 1rem;
  }
  td {
    padding: 3px 0;

    &:first-child {
      width: 80px;
    }
  }
  input, select {
    width: 300px;
    padding: 7px 15px;
    border-radius: 1000px;
    border: 1px solid gray;
  }
  .cari {
    margin-top: 20px;
  }
}

.cari {
  padding: 7px 40px;
  width: fit-content;
  border: none;
  border-radius: 1000px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: colors.$primary;
  color: white;
  cursor: pointer;
  
  &:hover {
    background-color: mix(white, colors.$primary, 40%);
  }
}