@use "../../assets/css/colors" as colors;
$danger: #dc3545;

.tambah {
  display: flex;
  background-color: colors.$primary;
  width: 100%;
  height: 100vh;

  h1 {
    margin-bottom: 20px;
    font-size: 2.3rem;
  }

  & > div {
    margin: auto;
    width: 500px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
  
  button {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 7px;
    background-color: transparent;
  }
}

.submitBtn {
  border: 2px solid colors.$primary;
  color: colors.$primary;

  &:hover {
    background-color: colors.$primary;
    color: white;
  }
}
.cancelBtn{
  border: none;
  color: gray;

  &:hover {
    color: colors.$primary;
  }
}

.tambahInput {
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  label {
    font-size: 1.1rem;
    margin: 5px 10px;
  }
  input {
    padding: 7px 15px;
    border: 1px solid colors.$primary;
    border-radius: 1000px;
    font-size: 1rem;
  }
}

.deleteBtn {
  margin-right: auto;
  border: 2px solid $danger;
  color: $danger;
}
.deleteBtn:hover {
  background-color: $danger;
  color: white;
}

.dialog {
  p {
    color: black;
    text-align: center;
  }
  button {
    text-transform: none;
  
    &:first-child {
      color: gray;
    }
    &:last-child {
      color: $danger;
    }
    &:hover {
      font-weight: bold;
    }
  }
}